{{#if warning}}
<script>
  alert('餐廳資料已刪除！');
</script>
{{/if}}


<div class="container">
  <div class="row">
    <!-- search bar -->
    <div class="search-bar col-sm-9">
      <div class="search-bar-outer">
        <div class="search-bar-inner">
          <form action="/restaurants/search">
            <h4 class="mb-2">尋找餐廳：</h4>
            <div class="input-group">
              <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
                value="{{keyword}}" aria-describedby="search-button">
              <div class="input-group-append">
                <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    {{!-- sort --}}
    <form action="/" method="GET" class="dropdown col-sm-3 mt-3" style="display: inline;">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 160px;">
          Sort select
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="submit" name="sortType" value="asc">A --> Z</button></li>
          <li><button class="dropdown-item" type="submit" name="sortType" value="desc">Z --> A</button></li>
          <li><button class="dropdown-item" type="submit" name="sortType" value="category">Category</button></li>
          <li><button class="dropdown-item" type="submit" name="sortType" value="location">Location</button></li>
        </ul>
    </form>

  </div>
</div>

<!-- restaurant list -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#if noResult}}
        <script>
          alert('No search results found!');
          // 重新導向至首頁或其他適當的頁面
          window.location.href = '/';
        </script>
        {{/if}}
        {{!-- render data --}}
        {{#each restaurants}}
        <div class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}"
              alt="{{this.name}}">
            <div class="card-body p-3">
              <div class="restaurant-title d-flex justify-content-between">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <span class="badge rounded-pill bg-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>
              <div class="restaurant-link mt-2 d-flex justify-content-end">
                <a href="/restaurants/{{this._id}}"><span class="badge bg-secondary me-3">Detail</span></a>
                <a href="/restaurants/{{this._id}}/edit"><span class="badge bg-success me-3">Edit</span></a>
                <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
                  <button type="submit" class="badge bg-danger" style="border: none;">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        
      </div>
    </div>
  </div>
</div>